#container canvas {
  position: relative;
  z-index: 1 !important;
}

.g6-grid-container{
  z-index: 0 !important;
}

/* 定位必须为宽高的一半 基点为图像的中心点，图像基点必须在画布 0,0 位置处*/
.g6-grid{
  transform-origin: 50% 50% 0 !important;
  top: -4000px !important;
  left: -4000px !important;
  width: 8000px !important;
  height: 8000px !important;
}

.layout-init-btn{
  position: absolute;

  top: 100px;
  left: 100px;
}