.container-wrap{
  position: relative;
  background-color: #eee;
}

#container canvas {
  position: relative;
  z-index: 1 !important;
}

.g6-grid-container{
  z-index: 0 !important;
}

.layout-init-btn{
  position: absolute;

  top: 100px;
  left: 100px;
}