.container-wrap{
  position: relative;
  background-color: #eee;
}

#container canvas {
  position: relative;
  z-index: 1 !important;
}

.g6-grid-container{
  z-index: 0 !important;
}

.g6-grid{
  top: -4000px !important;
  left: -4000px !important;
  width: 80000px !important;
  height: 80000px !important;
}

.layout-init-btn{
  position: absolute;

  top: 100px;
  left: 100px;
}